.Home_page{
    background-color: rgb(22, 31, 45);
    display: flex;
    width: 100vw;
    height: 100vh;
    color: white;
}
.Logo{
    cursor: pointer;
}

.Leftside{
    width: 20%;
}
.Addtweet{
    border: 1px solid gray;
    width: 60%;
    padding: 20px;
}
.Addtweet textarea{
    border: none;
    border-bottom: 1px solid grey;
    width: 90%;
}

.Addtweet textarea::placeholder{
    font-size: 20px;
}


.button{
    display: flex;
    justify-content: flex-end;
}
.area{
    background-color:  rgb(22, 31, 45);
    margin-left: 20px;
    text-indent: 10px;
    color: white;
}
.Trends{
    width: 20%;
}
.logout{
    position: relative;
    width: 20%;
    top: 80vh;
    left: 2vh;
}

.logout button{
    background-color: rgb(22, 31, 45);
    width: 100px;
    padding: 20px;
    border-radius: 20px;
    color: white;
    border: 1px solid white;
}


.logout button:hover{
    cursor:pointer;
    color: rgb(22, 31, 45);
    background-color: white;
}
.tweet{
    padding: 10px;
    border: 1px solid gray;
}
.buttonAdd{
    width: 30%;
    background-color: rgb(64, 154, 241);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.buttonAdd:hover{
    cursor: pointer;
    background-color: white;
    color: rgb(64, 154, 241);;
}