.Home_page{
    background-color: rgb(22, 31, 45);
    display: flex;
    width: 100vw;
    height: 100vh;
    color: white;
}
.Logo{
    cursor: pointer;
}

.Leftside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Addtweet{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Leftside{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}